/* Reseteo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    
    /* Colores base */
    --color-primario: #5d57f4; 
    --color-blanco: #fcfbff; 
    --color-negro: #1A1A1A; 

    --color-gris: #A9A9A9;
    --color-gris-claro:#C0C0C0; 

    --color-lila-claro: #f3f0f7;
    --color-lila-medio: #E6CCF2;

    /* Fuentes */
    --fuente-cuerpos: "Poppins", sans-serif;
    --fuente-titulos: "Montserrat", sans-serif;    
    --fuente-base: 1rem;
}

/* Fondos */
.bg-blanco {
    background-color: var(--color-blanco);    
}
.bg-primario {
    background-color: var(--color-primario);    
}
.bg-lila-claro {
    background-color: var(--color-lila-claro);    
}

/* --- <General> --- */

body {
  font-size: var(--fuente-base);
  font-family: var(--fuente-cuerpos);
}
h1,h2,h3 {
  font-family: var(--fuente-titulos);
}

/* --- </General> --- */


/* --- <Botones> --- */

.btn {
    margin-right: 1rem;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}
.btn:hover {
    background-color: var(--color-blanco);
    color: var(--color-primario);
    border: 1px solid var(--color-primario);
}

.btn-invertido {

    margin-right: 1rem;
    background-color: var(--color-blanco);
    color: var(--color-primario);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--color-primario);
    font-weight: 500;
}

.btn-invertido:hover {

    background-color: var(--color-primario);
    color: var(--color-blanco);
    border: 1px solid var(--color-primario);
}
/* --- </Botones> --- */


/* --- <Menu> --- */

header {    
    position: sticky;
    top: 0;
}
nav {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

/* <Logo> */ 
.logo-container {
    display: flex;
    align-items: center;    
    color: var(--color-primario);
}
/* </Logo> */ 


/* <Links> */
.menu {
    display: flex;
    justify-content: space-between;    
    align-items: center;
}
.menu-items {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}   
.menu-items a {
    text-decoration: none;
    color: var(--color-primario);
    font-weight: 500;
}  
.nav-link:hover{ 
    font-weight: 700;
    color: var(--color-negro);   
}    
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    color: var(--color-primario);  
}

.icono-hamburguesa {
  transition: all 0.3s ease;
}

/* Versión móvil */
@media (max-width: 768px) {

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 5rem;
        left: 0;
        height: auto;
        z-index: 1000; /* por si queda debajo de otros elementos */
    }

    .menu-items {
        width: 100%;
        border-bottom: 1px solid var(--color-gris);
        background-color: var(--color-lila-claro);
    }

    .menu-items:first-child{
        border-top: 1px solid var(--color-gris);
    }

    .show {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
/* </Links> */

/* --- </Menu> --- */

/* --- <Hero> --- */

.hero-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.hero-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 30rem; /* Ancho mínimo */
    justify-content: center; 
}
.hero-item h1 {
    font-size: 3.3rem;
    color: var(--color-negro);
}
.hero-item h2 {
    font-size: 1.6rem;
    color: var(--color-gris);
    font-weight: 500;
}
.hero-buttons {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 20rem;
    align-items: start;
    width: 100%;    
}

@media (max-width: 1400px) {
    .hero-flex {
        padding: 1rem;
        background-color: antiquewhite;
    }
}

/* --- </Hero> --- */