:root {
    
    /* Colores base */
    --color-primario: #5D57F4; 
    --color-blanco: #F7F6FE;     
    --color-gris-medio: #A9A9A9; 
    --color-gris-oscuro: #696969; 
    --color-lila-claro: #F7F6FE;

    /* Fuentes */
    --fuente-cuerpos: "Poppins", sans-serif;
    --fuente-titulos: "Montserrat", sans-serif;    

    --espaciado: 1rem;
    --fuente-base: 1rem;
    --fuente-titulo: 2rem;
}

/* <General> */

body {
  font-size: var(--fuente-base);
  font-family: var(--fuente-cuerpos);
}
h1,h2,h3 {
  font-family: var(--fuente-titulos);
}

.separador {   
    margin: 1.2rem 0;
    height: 4px;
    width: 15rem;
    background-color: var(--color-primario);
}

/* </General> */


/* <Botones> */

.button {

    margin-right: 1rem;
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
}

.button:hover {

    background-color: var(--color-blanco);
    color: var(--color-primario);
    border: 1px solid var(--color-primario);

}

.button-i { /* Boton invertido */

    margin-right: 1rem;
    background-color: var(--color-blanco);
    color: var(--color-primario);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--color-primario);
    font-weight: 500;
}

.button-i:hover { /* Boton invertido */

    background-color: var(--color-primario);
    color: var(--color-blanco);
    border: 1px solid var(--color-primario);
}

/* </Botones> */

/* < NavLinks> */

.nav-link.active {
    font-weight: 600;
}

.nav-link:hover {
    font-weight: 600;
}

@media (max-width: 1024px) {

    .navbar-collapse {
        margin: 1rem 0;        
    }
    .navbar-collapse li {
        border-bottom: 1px solid var(--color-gris-oscuro);        
    }
    .navbar-collapse ul {
        padding-bottom: 1rem;        
    }    
}

/* </ NavLinks> */


/* <hero> */

#hero h1 {
    font-size: 3.2rem;
    font-weight: 800;
}

#hero h2 {
    color: var(--color-gris-oscuro);
    margin-top: 2rem;
}

#hero img {
    object-fit: cover;
}

.button-container {
    margin-top: 3rem;
}

/* </hero> */

/* <Servicios> */

#servicios h2 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-gris-medio);
}

.w-80 {
    max-width: 80%;
}

.w-20 {
    max-width: 20%;
}

.header-h3 {
    font-size: 2rem;
    font-weight: 700;
}

.grid-servicios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width: 1024px) {

    .grid-servicios {
        grid-template-columns: 1fr;
    }
}

.card-servicio {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid var(--color-lila-claro);
    border-radius: 10px;
    padding: 2rem;    
    height: auto;
}

.card-servicio-texto{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.card-servicio-texto h3{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-negro);
    margin-bottom: 1rem;
    text-align: left;
}

.card-servicio-texto p{
    font-size: 1rem;
    color: var(--color-gris);
    margin-bottom: 1rem;
    text-align: left;
}

.card-servicio-texto a{
    font-size: 1.2rem;
    color: var(--color-primario);
    font-weight: 700;
    text-align: left;
    text-decoration: none;   
}

.card-servicio-texto a:hover{
    color: var(--color-negro);
}    

.servicio-icono {
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
    background-color: var(--color-lila-claro);
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primario);    
    font-size: 1.4rem;
}
/* </Servicios> */